* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-files {
  text-align: center;
  font-weight: bold;
}

header {
  text-align: center;
  text-shadow: rgb(89, 86, 86) 2px 3px 2px;
  margin-bottom: 15px;
}

body {
  background: rgb(247,224,215);
  background: radial-gradient(circle, rgba(247,224,215,1) 0%, rgba(189,122,91,1) 100%);
}

#meme-text {
  position: absolute;
  z-index: 1;
  display: flex;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: black 5px 5px 5px;
  word-break: break-word;
  width: 420px;
  height: 100px;
  margin: 15px 15px 15px 15px;
  text-align: center;
  justify-content: center;
}

#espacador {
  display: flex;
  margin-top: 250px;
  justify-content: center;
}

#meme-image-container {
  width: 450px;
  height: 400px;
  border: solid rgb(0, 0, 0) 1px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}

#meme-image {
  display: inline-block;
  position: absolute;
  background-color: white;
  border:  1px solid black;
  width: 448px;
  height: 398px;
}